@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --tiles: url("static/tiles.png");
    --bg: #3B4252;
    --text-nord: #8CD0D3;
    --text-milk: #FDF2D9;
    --ctg: 4;
}

html, 
body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
    background: var(--bg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    margin: 0px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clock-box {
    justify-content: center;
    margin-bottom: 20px;
    color: var(--text-milk);
    background: var(--bg);
}

#clockbox, 
#datebox {
    text-align: center;
    /* position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; */
}

img {
    height: 230px;
    width: 700px;
    object-fit: cover;
    border: 2px solid var(--text-nord);
    margin-bottom: 20px;
    padding: 5px;
}

nav {
    background: var(--bg);
    display: grid;
    grid-template-columns: repeat(var(--ctg), 1fr);
    text-align: center;
    margin: 0 0 20px 0;
    padding: 5px 0;
}

ul {
    list-style-type: none;
    margin: 5px 0 20px -35px;
}

a, 
.text {
    text-decoration: none;
    color: var(--text-milk);
}

a, 
input {
    cursor: default;
}

.accent, 
a:hover, 
label:hover, 
.text li:hover, 
#datebox:hover, 
#clockbox:hover, 
input::placeholder {
    color: var(--text-nord);
}

input {
    background: var(--bg);
    font: 16px 'Ubuntu Mono', monospace;
    color: transparent;
    text-shadow: 0 0 0 var(--text-nord); /* #a9b1d6 */
    height: 100%;
    width: 100%;
    border: 2px solid var(--text-milk);
    text-align: center;
    outline: none;
    padding: 5px;
}

input:hover {
    border: 2px solid var(--text-nord);
}

label {
    font-size: smaller;
}

form {
    text-align: center;
}

#bangs {
    position: absolute;
    left: 900px;
    top: 0px;
    width: 400px;
    font-size: smaller;
    display: flex;
}

#bangs li {
    margin-right: 20px;
}

a:focus {
    outline: none;
    color: var(--text-nord);
}